.App {
  width: 95%;
  margin: auto;
}

.post-form {
  width: 95%;
  background-color: rgb(180, 175, 214);
  text-align: center;
  border-radius: 12px 12px 12px;
  border: solid 1px;
  margin: auto;
}

.post {
  width: 95%;
  background-color: rgb(180, 175, 214);
  text-align: center;
  border-radius: 12px 12px 12px;
  border: solid 1px;
  margin: auto;
}

.header {
  background-color: rgb(158, 90, 166);
  text-align: center;
}
